<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page | Electron Bot Panel</title>
    <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
    <div class="yaziclass">Server:</div>
    <select id="selectsw" style="width: 140px; height: 20px;"></select>
    <button id="yenilesw">Refresh</button>
    <br>
    <div class="yaziclass">Channel:</div>
    <select id="sunucular" style="width: 140px; height: 20px;"></select>
    <button id="yenile">Refresh</button>
    <br>
    <div class="yaziclass">Message Send:</div>
    <input type="text" placeholder="message" id="testinp" required="true">
    <button id="test">Send</button>
    <br>
    <div class="yaziclass">Embed:</div> <input type="checkbox" id="checkbox" onclick="chckbx()">
    <form id="embedform" style="display: none;">
    <div class="yaziclass">Title:</div><input type="text" name="" id="title" placeholder="Title" >
    <div class="yaziclass">Author:</div><input type="text" name="" id="author" placeholder="Author" ><input type="text" name="" id="author2" placeholder="Author2" >
    <div class="yaziclass">Color:</div><input type="text" name="" id="color" placeholder="Color" >
    <div class="yaziclass">Field:</div><input type="text" name="" id="field" placeholder="Field" ><input type="text" name="" id="field2" placeholder="Field2" >
    <div class="yaziclass">Description:</div><input type="text" name="" id="desc" placeholder="Description" >
    <div class="yaziclass">Image:</div><input type="text" name="" id="image" placeholder="Image" >
    <div class="yaziclass">Thumbnail:</div><input type="text" name="" id="thumb" placeholder="Thumbnail" >
    <div class="yaziclass">Footer:</div><input type="text" name="" id="footerembed" placeholder="Footer" >
    <button id="embedsend" >Gönder</button>
    </form>
    <br>
    <div class="yaziclass">Member:</div>
    <select id="sunucularüye" style="width: 140px; height: 20px;"></select>
    <button id="yenile2">Refresh</button>
    <br>
    <div class="yaziclass">Member Message Send:</div>
    <input type="text" placeholder="message" id="üyeyeinp" required="true">
    <button id="test2">Send</button>
    <br>
    <div class="yaziclass">Give Role:</div>
    <select id="uyerolver" style="width: 140px;height: 20px;"></select>
    <button id="yenilerol">Refresh</button>
    <button id="rolverbtn">Give Role</button>
    <br>
    <br>
    <div class="yaziclass">Messages:</div>
    <form name="myform">
        <td><textarea name="outputtext" style="resize: none; background: #464646;border: none;width: 600px; height: 100px;-moz-user-select: none;-webkit-user-select: none;-khtml-user-select: none;user-select: none;" readonly="true"></textarea></td>
        </form>
    <script>
        function chckbx() {
        var checkBox = document.getElementById("checkbox");
        var embedform = document.getElementById("embedform")
        if (checkBox.checked == true) {
            embedform.style.display = "block"
        } else {
            embedform.style.display = "none"
        }
    }
    </script>


    <script src="../assets/script.js"></script>
</body>
</html>
